<?xml version='1.0' encoding='UTF-8'?>

<gums version='1.3' allowGridmapFiles='true' bannedUserGroups=''>

	<persistenceFactories>

		<hibernatePersistenceFactory
			name='mysql'
			description=''
			storeConfig='false'
			hibernate.c3p0.timeout='180'
			hibernate.connection.driver_class='com.mysql.jdbc.Driver'
			hibernate.connection.autoReconnect='true'
			hibernate.c3p0.max_size='20'
			hibernate.dialect='org.hibernate.dialect.MySQLDialect'
			hibernate.c3p0.min_size='3'
			hibernate.connection.username='gums'
			hibernate.connection.url='jdbc:mysql://localhost:3306/GUMS_1_3'
			hibernate.connection.password='1234'/>

	</persistenceFactories>

	<vomsServers>

		<vomsServer
			name='glow'
			description=''
			persistenceFactory='mysql'
			baseUrl='https://glow-voms.cs.wisc.edu:8443/voms/GLOW'
			sslKey='/etc/grid-security/http/httpkey.pem'
			sslCertfile='/etc/grid-security/http/httpcert.pem'
			sslKeyPasswd=''
			sslCAFiles='/etc/grid-security/certificates/*.0'/>

		<vomsServer
			name='mis'
			description=''
			persistenceFactory='mysql'
			baseUrl='https://voms.grid.iu.edu:8443/voms/mis'
			sslKey='/etc/grid-security/http/httpkey.pem'
			sslCertfile='/etc/grid-security/http/httpcert.pem'
			sslKeyPasswd=''
			sslCAFiles='/etc/grid-security/certificates/*.0'/>

		<vomsServer
			name='osgedu'
			description=''
			persistenceFactory='mysql'
			baseUrl='https://voms.grid.iu.edu:8443/voms/osgedu'
			sslKey='/etc/grid-security/http/httpkey.pem'
			sslCertfile='/etc/grid-security/http/httpcert.pem'
			sslKeyPasswd=''
			sslCAFiles='/etc/grid-security/certificates/*.0'/>

	</vomsServers>

	<userGroups>

		<manualUserGroup
			name='admins'
			access='write'
			description=''
			persistenceFactory='mysql'
			membersUri=''
			nonMembersUri=''/>

		<vomsUserGroup
			name='glow'
			access='read self'
			description=''
			vomsServer='glow'
			matchFQAN='vo'
			acceptProxyWithoutFQAN='true'
			voGroup='/GLOW'/>

		<vomsUserGroup
			name='mis'
			access='read self'
			description=''
			vomsServer='mis'
			matchFQAN='vo'
			acceptProxyWithoutFQAN='true'
			voGroup='/mis'/>

		<vomsUserGroup
			name='osgedu'
			access='read self'
			description=''
			vomsServer='osgedu'
			matchFQAN='vo'
			acceptProxyWithoutFQAN='true'
			voGroup='/osgedu'/>

		<manualUserGroup
			name='rsv'
			access='read all'
			description=''
			persistenceFactory='mysql'
			membersUri=''
			nonMembersUri=''/>

	</userGroups>

	<accountMappers>

		<manualAccountMapper
			name='_test'
			description=''
			persistenceFactory='mysql'/>

		<groupAccountMapper
			name='glow'
			description=''
			accountName='glow'/>

		<groupAccountMapper
			name='mis'
			description=''
			accountName='mis'/>

		<groupAccountMapper
			name='osgedu'
			description=''
			accountName='osgedu'/>

		<groupAccountMapper
			name='rsv'
			description='rsv account mapper'
			accountName='rsv'/>

	</accountMappers>

	<groupToAccountMappings>

		<groupToAccountMapping
			name='_test'
			description=''
			accountingVoSubgroup=''
			accountingVo=''
			userGroups='admins'
			accountMappers='_test'/>

		<groupToAccountMapping
			name='glow'
			description=''
			accountingVoSubgroup='glow'
			accountingVo='GLOW'
			userGroups='glow'
			accountMappers='glow'/>

		<groupToAccountMapping
			name='mis'
			description=''
			accountingVoSubgroup='mis'
			accountingVo='MIS'
			userGroups='mis'
			accountMappers='mis'/>

		<groupToAccountMapping
			name='osgedu'
			description=''
			accountingVoSubgroup='osgedu'
			accountingVo='OSGEDU'
			userGroups='osgedu'
			accountMappers='osgedu'/>

		<groupToAccountMapping
			name='rsv'
			description=''
			accountingVoSubgroup=''
			accountingVo=''
			userGroups='rsv'
			accountMappers='rsv'/>

	</groupToAccountMappings>

	<hostToGroupMappings>

		<hostToGroupMapping
			groupToAccountMappings='_test'
			description=''
			dn='/DC=com/DC=example/OU=Services/CN=example.site.com'/>

		<hostToGroupMapping
			groupToAccountMappings='glow, mis, osgedu, rsv'
			description=''
			cn='*/?*.chtc.wisc.edu'/>

	</hostToGroupMappings>

</gums>
